.test-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.toggle-slider {
    display: none;

}
input[type="radio"]:checked + label {
    display: block;
    *background-color: #fff;

    border-radius: 40px;
    width: 100%;
    cursor: pointer;
}

.label-wrap {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    background-color: #EBEBEB;
    position: relative;
    transition: 0.4s ease-out;

}
.btn-wrap {
    width: 50%;
}
.label {
    cursor: pointer;
    display: block;

    text-align: center;

}

.btn {
    }
.label.basic {
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
}
.label.detail {
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px;
}

.whitebox {
    position: absolute;
    width: 50%;
    height: 40px;
    border: 1px solid blue;
    transition: 0.4s ease-in-out;
}

/* .label-wrap:after{
  content: '';
  font-weight: bold;
  font-size:25px;
  width: 50%;
  height: 40px;

  position: absolute;
  border-radius: 50px;
  *top:5px;
  left:5px;
  transition: 0.4s ease-out;
  opacity: 0.8;


  }
  #toggle-slider:checked + label:after{
  left: 49%;


  } */
